/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%; /*10px*/
}

body {
  margin: 0 auto;
  background: black;
  overflow: hidden;
}

.enter-screen {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
  background: url(../img/main-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.enter-screen__title {
  padding-bottom: 6em;
  text-transform: uppercase;
  cursor: pointer;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 4px;
}

.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
}

.main-bg {
  height: 100vh;
  max-width: 100%;
  /* background: url(../img/selectionPage-bg.jpg) no-repeat; */
  /* background-image: url(https://www.youtube.com/watch?v=Nj2koAn-6q8); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 5px 80px;
  background-color: hsla(0, 0%, 0%, 0.63);
}

.myvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.logo img {
  max-width: 150px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  padding: 0 15px;
}

a {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
}

a:focus,
a:hover {
  color: #ffa500;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  height: auto;
}

/* .main span {
  cursor: pointer;
} */

.car-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
  padding: 0.5em 1em;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.car-card__image img {
  border-radius: 15px 15px 0px 0px;
}

.car-card__image img:hover + .car-card__title {
  visibility: visible;
}

.car-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 551px;
  height: 51px;
  background-color: hsla(0, 0%, 0%, 0.63);
  border-radius: 0 0 10px 10px;
  visibility: hidden;
}

.button {
  display: none;
}

.button__back {
  font-size: 2rem;
  color: #fff;
  background-color: #ff003c;
  margin-top: 15px;
  padding: 5px 15px;
  border-radius: 5px;
}

.car-card__countries {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.car-card__setups-active {
  display: grid;
}

.setups {
  font-size: 1.5rem;
}

.setup-country {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
  padding: 1rem 1rem;
  color: #fff;
  background-color: #ff003c;
  border-radius: 10px;
  cursor: pointer;
}

.setups__country {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: hsla(0, 0%, 2%, 0.459);
  border-radius: 10px;
}

.country {
  display: flex;
}

.country span {
  font-weight: bold;
}

.setup__item {
  display: flex;
}

.setup__item > div,
.country > div {
  margin: 15px 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.setup__item div {
  margin-bottom: 10px;
}

.item__alignment div:first-child,
.item__brakes div:first-child,
.item__dif div:first-child,
.item__gear div:first-child,
.item__damp div:first-child,
.item__springs div:first-child {
  font-weight: bold;
}

.setup-country__item--active {
  display: flex;
}

.selected {
  background-color: hsla(0, 0%, 2%, 0.459);
}

.chosen {
  box-shadow: 4px 4px 8px #b3c2b4, -4px -4px 8px #b3c2b4;
}

.hide {
  display: none;
}

.show {
  display: block;
}
